<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       default-autowire="byName">

    <util:properties id="mongo" location="classpath:mongo.properties"/>

    <bean id="mongoDb" class="versioneye.persistence.mongodb.MongoDB" scope="singleton" >
        <property name="dbname" value="#{mongo['dbname']}" />
        <property name="host" value="#{mongo['host']}" />
        <property name="port" value="#{mongo['port']}" />
        <property name="host2" value="#{mongo['host2']}" />
        <property name="port2" value="#{mongo['port2']}" />
        <property name="host3" value="#{mongo['host3']}" />
        <property name="port3" value="#{mongo['port3']}" />
        <property name="username" value="#{mongo['username']}" />
        <property name="password" value="#{mongo['password']}" />
    </bean>

    <bean id="archiveService"         class="versioneye.service.ArchiveService" />
    <bean id="dependencyService"      class="versioneye.service.DependencyService" />
    <bean id="developerService"       class="versioneye.service.DeveloperService" />
    <bean id="productService"         class="versioneye.service.ProductService" />
    <bean id="versionLinkService"     class="versioneye.service.VersionLinkService" />
    <bean id="licenseService"         class="versioneye.service.LicenseService" />

    <bean id="dependencyModelService" class="versioneye.service.DependencyModelService" />
    <bean id="developerModelService"  class="versioneye.service.DeveloperModelService" />

    <bean id="mavenCentralUtils"     class="versioneye.utils.MavenCentralUtils" />

    <bean id="mavenUrlProcessor"     class="versioneye.maven.MavenUrlProcessor" />
    <bean id="mavenProjectProcessor" class="versioneye.maven.MavenProjectProcessor" >
        <property name="repository" ref="mavenCentral" />
    </bean>
    <bean id="mavenPomProcessor"     class="versioneye.maven.MavenPomProcessor" >
        <property name="repository" ref="mavenCentral" />
        <property name="productDao" ref="productDao" />
    </bean>

    <bean id="httpUtils"         class="versioneye.utils.HttpUtils" />
    <bean id="logUtils"          class="versioneye.utils.LogUtils" />

    <bean id="productDao"          class="versioneye.persistence.mongodb.ProductDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="pomDao"          class="versioneye.persistence.mongodb.PomDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="globalSettingDao"          class="versioneye.persistence.mongodb.GlobalSettingDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="mavenRepositoryDao"          class="versioneye.persistence.mongodb.MavenRepositoryDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="productResourceDao"          class="versioneye.persistence.mongodb.ProductResourceDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="dependencyDao"          class="versioneye.persistence.mongodb.DependencyDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="versionarchiveDao"          class="versioneye.persistence.mongodb.VersionarchiveDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="versionlinkDao"          class="versioneye.persistence.mongodb.VersionlinkDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="licenseDao"          class="versioneye.persistence.mongodb.LicenseDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="versionchangeDao"          class="versioneye.persistence.mongodb.VersionchangeDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="crawleDao"           class="versioneye.persistence.mongodb.CrawleDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="errorDao"           class="versioneye.persistence.mongodb.ErrorDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="versionEyeXmlDao"           class="versioneye.persistence.mongodb.VersionEyeXmlDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="notificationDao"     class="versioneye.persistence.mongodb.NotificationDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="userDao"             class="versioneye.persistence.mongodb.UserDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="newestDao"             class="versioneye.persistence.mongodb.NewestDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="developerDao"             class="versioneye.persistence.mongodb.DeveloperDao" >
        <property name="mongoDB" ref="mongoDb" />
    </bean>
    <bean id="projectdependencyDao" class="versioneye.persistence.mongodb.ProjectdependencyDao">
        <property name="mongoDB" ref="mongoDb" />
    </bean>

    <bean id="domainFactory"       class="versioneye.persistence.DomainFactory" />

    <bean id="licenseChecker"       class="versioneye.utils.LicenseChecker" />

    <!-- STARt Maven Repositories -->

    <bean id="codeHaus" class="versioneye.domain.Repository" >
        <property name="name"     value="Codehaus" />
        <property name="src"      value="http://repository.codehaus.org/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="typesafe" class="versioneye.domain.Repository" >
        <property name="name"     value="typesafe" />
        <property name="src"      value="http://repo.typesafe.com/typesafe/releases/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="akka" class="versioneye.domain.Repository" >
        <property name="name"     value="akka" />
        <property name="src"      value="http://repo.akka.io/releases" />
        <property name="repoType" value="Maven2" />
    </bean>

    <!-- MIRROR in California -->
    <bean id="ibiblio" class="versioneye.domain.Repository" >
        <property name="name"     value="Ibiblio" />
        <property name="src"      value="http://mirrors.ibiblio.org/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <!-- MIRROR in France -->
    <bean id="antelink" class="versioneye.domain.Repository" >
        <property name="name"     value="antelink" />
        <property name="src"      value="http://maven.antelink.com/content/repositories/central/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="activity_designer" class="versioneye.domain.Repository" >
        <property name="name"     value="activity_designer" />
        <property name="src"      value="https://maven.alfresco.com/nexus/content/repositories/activiti/org/activiti/designer/" />
        <property name="repoType" value="Maven2" />
        <property name="replaceWithRepoSrc" value="false" />
    </bean>

    <bean id="activity" class="versioneye.domain.Repository" >
        <property name="name"     value="activity" />
        <property name="src"      value="https://maven.alfresco.com/nexus/content/repositories/activiti-releases/org/activiti/" />
        <property name="repoType" value="Maven2" />
        <property name="replaceWithRepoSrc" value="false" />
    </bean>

    <bean id="servicemix" class="versioneye.domain.Repository" >
        <property name="name"     value="servicemix" />
        <property name="src"      value="http://svn.apache.org/repos/asf/servicemix/m2-repo" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="springMilestone" class="versioneye.domain.Repository" >
        <property name="name"     value="SpringMilestone" />
        <property name="src"      value="http://maven.springframework.org/milestone/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="springRelease" class="versioneye.domain.Repository" >
        <property name="name"     value="SpringRelease" />
        <property name="src"      value="http://maven.springframework.org/release/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="iceFaces" class="versioneye.domain.Repository" >
        <property name="name"     value="iceFaces" />
        <property name="src"      value="http://anonsvn.icesoft.org/repo/maven2/releases/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="glassfish" class="versioneye.domain.Repository" >
        <property name="name"     value="Glassfish" />
        <property name="src"      value="http://download.java.net/maven/glassfish/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="gradle" class="versioneye.domain.Repository" >
        <property name="name"     value="Gradle" />
        <property name="src"      value="http://gradle.artifactoryonline.com/gradle/libs/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="adobe" class="versioneye.domain.Repository" >
        <property name="name"     value="adobe" />
        <property name="src"      value="https://repo.adobe.com/nexus/content/groups/public/" />
        <property name="repoType" value="Maven2" />
        <property name="followType"  value="text" />
    </bean>

    <bean id="atlassian" class="versioneye.domain.Repository" >
        <property name="name"     value="Atlassian" />
        <property name="src"      value="https://maven.atlassian.com/content/repositories/atlassian-public/" />
        <property name="repoType" value="Maven2" />
        <property name="followType"  value="text" />
    </bean>

    <bean id="atlassianContrib" class="versioneye.domain.Repository" >
        <property name="name"     value="AtlassianContrib" />
        <property name="src"      value="https://maven.atlassian.com/content/repositories/atlassian-contrib/" />
        <property name="repoType" value="Maven2" />
        <property name="followType"  value="text" />
    </bean>

    <bean id="mavenCentral" class="versioneye.domain.Repository" >
        <property name="name"     value="MavenCentral" />
        <property name="src"      value="http://search.maven.org/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="jbossPublic" class="versioneye.domain.Repository" >
        <property name="name"     value="JBossPublic" />
        <property name="src"      value="http://repository.jboss.org/nexus/content/groups/public-jboss/" />
        <property name="repoType" value="Maven2" />
        <property name="followType" value="text" />
    </bean>

    <bean id="appFuse" class="versioneye.domain.Repository" >
        <property name="name"     value="AppFuse" />
        <property name="src"      value="http://static.appfuse.org/repository/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="fuse" class="versioneye.domain.Repository" >
        <property name="name"     value="Fuse" />
        <property name="src"      value="http://repo.fusesource.com/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="dojo" class="versioneye.domain.Repository" >
        <property name="name"     value="Dojo" />
        <property name="src"      value="http://download.dojotoolkit.org/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="ejb3unit" class="versioneye.domain.Repository" >
        <property name="name"     value="EJB3Unit" />
        <property name="src"      value="http://ejb3unit.sourceforge.net/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="freehep" class="versioneye.domain.Repository" >
        <property name="name"     value="FreeHep" />
        <property name="src"      value="http://java.freehep.org/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="geotools" class="versioneye.domain.Repository" >
        <property name="name"     value="GeoTools" />
        <property name="src"      value="http://download.osgeo.org/webdav/geotools/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="clojars" class="versioneye.domain.Repository" >
        <property name="name"     value="CloJars" />
        <property name="src"      value="http://clojars.org/repo" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="conjars" class="versioneye.domain.Repository" >
        <property name="name"     value="conjars" />
        <property name="src"      value="http://conjars.org/repo" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="fuin" class="versioneye.domain.Repository" >
        <property name="name"     value="fuin" />
        <property name="src"      value="http://www.fuin.org/maven-repository/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="guiceyFruit" class="versioneye.domain.Repository" >
        <property name="name"     value="GuiceyFruit" />
        <property name="src"      value="http://guiceyfruit.googlecode.com/svn/repo/releases/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="jasig" class="versioneye.domain.Repository" >
        <property name="name"     value="JA-SIG" />
        <property name="src"      value="http://developer.jasig.org/repo/content/groups/m2-legacy/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="javanet" class="versioneye.domain.Repository" >
        <property name="name"     value="JavaNet" />
        <property name="src"      value="http://download.java.net/maven/2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="objectweb" class="versioneye.domain.Repository" >
        <property name="name"     value="ObjectWeb" />
        <property name="src"      value="http://repository.ow2.org/nexus/content/repositories/releases/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="restlet" class="versioneye.domain.Repository" >
        <property name="name"     value="Restlet" />
        <property name="src"      value="http://maven.restlet.org/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="seasar" class="versioneye.domain.Repository" >
        <property name="name"     value="Seasar" />
        <property name="src"      value="http://maven.seasar.org/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="slick" class="versioneye.domain.Repository" >
        <property name="name"     value="Slick" />
        <property name="src"      value="http://slick.cokeandcode.com/mavenrepo/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="smartclient" class="versioneye.domain.Repository" >
        <property name="name"     value="SmartClient" />
        <property name="src"      value="http://www.smartclient.com/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="abl" class="versioneye.domain.Repository" >
        <property name="name"     value="abl" />
        <property name="src"      value="http://resources.automatedbusinesslogic.com/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="carbonfive" class="versioneye.domain.Repository" >
        <property name="name"     value="carbonfive" />
        <property name="src"      value="http://mvn.carbonfive.com/nexus/content/groups/public/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="jcenter" class="versioneye.domain.Repository" >
        <property name="name"     value="jcenter" />
        <property name="src"      value="http://jcenter.bintray.com/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <!--<bean id="jfrog" class="versioneye.domain.Repository" >-->
        <!--<property name="name"     value="jfrog" />-->
        <!--<property name="src"      value="http://repo.jfrog.org/artifactory/libs-releases/" />-->
        <!--<property name="repoType" value="Maven2" />-->
    <!--</bean>-->

    <bean id="eviware" class="versioneye.domain.Repository" >
        <property name="name"     value="eviware" />
        <property name="src"      value="http://www.eviware.com/repository/maven2/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <bean id="devzendo" class="versioneye.domain.Repository" >
        <property name="name"     value="devzendo" />
        <property name="src"      value="http://devzendo-org-repo.googlecode.com/svn/trunk/releases/" />
        <property name="repoType" value="Maven2" />
    </bean>

    <!-- END Maven Repositories -->

    <!-- TODO without repository! -->
    <bean id="crawlerSearchMavenOrg" class="versioneye.crawler.CrawlerMavenDefaultJson" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="mavenCentral" />
            </list>
        </property>
    </bean>
    <bean id="crawlerMavenDefaultHtml" class="versioneye.crawler.CrawlerMavenDefaultHtml" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="activity" />
                <ref bean="activity_designer" />
                <ref bean="abl" />
                <!--<ref bean="fuin" />-->
                <!--<ref bean="devzendo" />-->
                <!--<ref bean="iceFaces" />-->
                <!--<ref bean="appFuse" />-->
                <!--<ref bean="fuse" />-->
                <!--<ref bean="servicemix" />-->
                <!--<ref bean="dojo" />-->
                <!--<ref bean="ejb3unit" />-->
                <!--<ref bean="akka" />-->
                <!--<ref bean="freehep" />-->
                <!--<ref bean="guiceyFruit" />-->
                <!--<ref bean="jasig" />-->
                <!--<ref bean="objectweb" />-->
                <!--<ref bean="restlet" />-->
                <!--<ref bean="scalatools" />-->
                <!--<ref bean="jbossPublic" />-->
                <!--<ref bean="slick" />-->
                <!--<ref bean="smartclient" />-->
                <!--<ref bean="carbonfive" />-->
                <!--<ref bean="glassfish" />-->
                <!--<ref bean="selenium" />-->
                <!--<ref bean="seleniumThirdParty" />-->
                <!--<ref bean="googleCode" />-->
                <!--<ref bean="atlassian" />-->
                <!--<ref bean="atlassianContrib" />-->
                <!--<ref bean="springMilestone" />-->
                <!--<ref bean="springRelease" />-->
                <!--<ref bean="seasar" />-->
                <!--<ref bean="geotools" />-->
                <!--<ref bean="javanet" />-->
                <!--<ref bean="jfrog" />-->
                <!--<ref bean="codeHaus" />-->
            </list>
        </property>
    </bean>
    <bean id="crawlerTypesafe" class="versioneye.crawler.CrawlerMavenDefaultHtml" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="typesafe" />
            </list>
        </property>
    </bean>
    <bean id="crawlerGradle" class="com.versioneye.crawler.crawl.CrawlerMavenDefaultHtml" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="gradle" />
            </list>
        </property>
    </bean>
    <bean id="crawlerAntelink" class="com.versioneye.crawler.crawl.CrawlerMavenDefaultHtml" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="antelink" /> <!--  MIRROR in FRANCE -->
            </list>
        </property>
    </bean>
    <bean id="crawlerIbiblio" class="com.versioneye.crawler.crawl.CrawlerMavenDefaultHtml" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="ibiblio" /> <!--  MIRROR in CALIFORNIA -->
            </list>
        </property>
    </bean>

    <bean id="crawlerClojure" class="com.versioneye.crawler.crawl.CrawlerClojure" scope="prototype" >
        <property name="threadable"  value="true" />
        <property name="repositories">
            <list>
                <ref bean="clojars" />
            </list>
        </property>
    </bean>

</beans>
